/*header*/
@media (max-width: 575.98px) {
	.upload-profile-pic img{
		width: 140px;
		height: 150px;
	}
	.about-option{
		border: none;
	}
	.about-option ul{
		margin-left: 0px;
	}
	.registration{
		width: 350px;
	}
	.registration-in .right-side .heading span{
		font-size: 16px;
		font-weight: 600;
	}
	.registration-in .left-side{
		display: none;
	}
	.register_body{
		width: 350px !important;
		margin: 0 auto !important;
	}
	.custom_container{
		max-width: 540px;
	}
	.video_col{
		height: 335px !important;
	}
	#videobcg{
		margin-top: 0px !important;
	}
	.dealofweek iframe{
		width: 343px;
		margin: 0 8px;
	}
	.help_col{
		padding: 20px 0px 0px 0px !important;
	}
	.featured_col{
		padding-bottom: 20px !important;
	}
	.featured_col .col-sm-3{
		padding: 0 !important;
	}
	.featured_col h2{
		margin: 0 0 20px !important;
		padding: 0 0 10px !important;
	}
	.pleft80 h4{
		font-size: 17px !important;
	}
	.pleft80 h2{
		font-size: 17px !important;
	}
	.inner_img img{
		height: 285px !important;
	}
	.owl_box .main-content{
		padding: 32px;
	}
	.owl_box .main-content .owl-carousel{
		padding: 0px !important;
	}
	.flipping{
		margin-bottom: 10px;
		height: 275px !important;
	}
	.flip-card{
		width: 100% !important;
	}
	.flip-card-front img{
		width: 100% !important;
	}
	.flip-card-front p{
		margin: 0px 0px 10px !important;
	}
	.flip-card-front h5{
		margin: 20px 0px 10px !important;
	}
	.flip-card-back{
		padding-top: 2% !important;
	}
	.dealofweek{
		padding: 0px 0px 20px 0px !important;
	}
	.dealofweek .pleft80{
		padding: 10px 0px;
		text-align: center;
	}
	.dealofweek .pleft80 p{
		margin-bottom: 0 !important;
		font-size: 13px;
	}
	.invest_col{
		padding: 20px 0px !important;
	}
	.invest_col .flipping{
		height: 200px !important;
	}
	.invest_col .flip-card-back{
		display: flex;
		height: 100% !important;
		justify-content: center;
		align-items: center;
	}
	.invest_col .flip-card-back p{
		margin-bottom: 0px !important;
	}
	.footer .footer-link .col-sm-6:nth-child(3){
		width: 50% !important;
	}
	.footer .footer-link .col-sm-6:last-child{
		width: 50% !important;
	}
	.inner_info{
		padding-bottom: 0px !important;
		min-height: 288px;
	}
	.inner_info h5{
		margin: 20px 0px 10px 0px !important;
	}
	.learnmore{
		padding: 0px !important;
		margin-bottom: 15px !important;
	}
	.apply-btn{
		margin-top: 15px !important;
		margin-bottom: 10px !important;
	}

}

@media (max-width: 767.98px) {
	.registration{
		width: 350px;
	}
	.registration-in .left-side{
		display: none;
	}
	.detail_sec{
		border: 0px;
		padding-left: 0.5rem !important;
		margin-bottom: 15px;
	}
	.doc_sec{
		padding-left: 0.5rem !important;
	}
	.video-box img{
		width: 100%;
	}
	.map-box img{
		width: 100%;
	}
	.info-box img{
		width: 100%;
	}
	.creation-forms .form-group.step_row{
		margin: 6px 0px !important;
	}
	.creation-forms .form-group.step_row .col-md-6{
		text-align: left !important;
	}
	form .form-group.step_row{
		margin: 6px 0px !important;
	}
	form .form-group.step_row .col-md-6{
		text-align: left !important;
		padding: 0px !important;
	}
	.step_row .col-md-6{
		padding: 0px !important;
	}
	#step2 form.col-md-10{
		padding: 0px;
	}
	#step2 .col-md-6{
		margin: 5px 0px !important;
	}
	.est_box .est_list{
		display: block !important;
	}
	.est_box .est_list label{
		width: 100% !important;
		margin-top: 0px !important;
	}
	.est_box .est_list input{
		width: 100% !important;
	}
	.step_row .labels_main{
		font-size: 15px !important;
	}
	.step_fonts{
		padding: 0px !important;
	}
	.label_web{
		display: none !important;
	}
	.label_mobile{
		display: block !important;
		margin: 0px !important;
	}
	.finance_inputs{
		justify-content: space-between !important;
	}
	.finance_inputs input{
		width: 45% !important;
	}
	.creation-steps .step-btn{
		padding: 5px 14px !important;
	}
}
@media (max-width: 991.98px) {
	.register_main .imp-box{
		margin: 10px 0 0 0;
	}
	.header .mobile-header-reg{
		display: flex !important;
		margin-left: auto;
		align-items: center;
	}
	.mobile-header-reg img {
    width: 28px;
	}
	.mobile-header-reg .dropdown button {
    font-size: 16px;
    font-weight: 500;
    background-color: transparent !important;
    border-color: transparent !important;
	}
	.mobile-header-reg .login-btn, .mobile-header-reg .register-btn{
		padding: 2px 10px;
	}
	.header .header-reg{
		display: none !important;
	}
	.header	.responsive-nav{
		flex-direction: column;
		margin-left: 10px !important;
	}
	nav .navbar-toggler{
		padding: 1rem 0.25rem;
	}
	nav .navbar-toggler svg{
		color: #b71c1c;
		height: 1.5em;
	}
	nav .navbar-toggler:focus{
		outline: none;
	}
	.price-grid {
    float: none;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 20px;
	}
	.plans-wrap{
		height: auto;
	}
	.pricing-content p{
		padding-bottom: 30px;
	}
	.plans-grid-wrap{
		position: relative;
		top: 0;
		right: 0;
		left: 0;
	}
	.faq-container{
		padding-top: 0;
	}
	.price-gd-top h4{
		padding: 1em;
	}
	.bs-wizard{
		display: none !important;
	}
	#newproperty.container{
		max-width: 810px !important;
	}
	#newproperty .profile-form-in{
		padding: 20px 10px !important;
	}
	#step2 form.col-md-10{
		max-width: 100% !important;
		flex: 0 0 100% !important;
		margin-left: 0 !important;
	}
	table.sell_steptable{
	  white-space: nowrap;
	  margin-top: 10px;
	  margin-left: 0px;
	}
	.login_banner .col-md-8{
		max-width: 100%;
		margin: 2.2rem 0 !important;
	}
	.login_banner .registration{
		width: 100%;
	}
}
@media (min-width: 576px) and (max-width: 991.98px) {
	.help_col .container{
		max-width: 675px;
	}
	.help_col .col-md-4{
		flex: 0 0 50%;
		max-width: 50%;
	}
	.inner_info h5{
		min-height: 50px;
	}
	.inner_info p{
		min-height: 85px !important;
	}
	.featured_col{
		padding-bottom: 20px !important;
	}
	.featured_col .row{
		justify-content: center;
	}
	.featured_col .col-sm-3{
		max-width: 50% !important;
		padding: 0px 10px !important;
		margin-bottom: 20px;
	}
	.flip-card-front img{
		width: 227px !important;
	}
	.dealofweek .row{
		justify-content: center !important;
	}
	.dealofweek .col-md-6{
		max-width: 100% !important;
		flex: 0 0 80% !important;
	}
	.dealofweek .pleft80{
		padding: 0px !important;
		text-align: center !important;
	}
	.invest_col .col-sm-3{
		flex: 0 0 50%;
		max-width: 50%;
		margin-bottom: 20px;
	}
	.invest_col .flip-card{
		width: 100% !important;
	}
	.invest_col .flip-card-back{
		display: flex;
		justify-content: center;
		align-items: center;
	}
}
@media (min-width: 576px) and (max-width: 767.98px) {
	.register_body{
		width: 450px;
		margin: 0 auto;
	}
	.inner_info{
		min-height: 525px !important
	}
	.dealofweek iframe{
		width: 100% !important;
	}
	.flip-card{
		width: 210px !important;
	}
	.flip-card-front img{
		width: 100% !important;
	}
}
@media (min-width: 992px) and (max-width: 1199.98px) {
	.inner_info{
		min-height: 485px !important
	}
	.inner_info h5{
		min-height: 50px;
	}
	.learnmore a{
		padding: 10px 25px !important;
	}
	.inner_info p{
		min-height: 85px !important;
	}
	.flip-card{
		width: 200px !important;
	}
	.flip-card-front img{
		width: 100% !important;
	}
	.flip-card-back .flip-data ul{
		margin-bottom: 12px !important;
	}
	.flip-card-back ul{
		margin-bottom: 10px !important;
	}
	.flip-card-back p{
		margin-bottom: 4px !important;
	}
	.dealofweek iframe{
		width: 500px !important;
	}
	.invest_col .flip-card{
		width: 185px !important;
	}
}
