@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,400i,500,600,700,800,900&display=swap');

html, body {
  height: 100%;
}

span.error-class {
  color: red !important;
  font-size: 12px !important;
}

body {
  font-family: 'Montserrat', sans-serif !important;
  margin: 0px;
  padding: 0px;
  color: #1d1d1d;
  background: #f3f3f3 !important;
}

.wrapper {
  background: #f3f3f3;
  height: 100%;
}

.custom_container {
  max-width: 1200px !important;
}

/********** Login, Signup, Verfify Code ******/


.registration {
  width: 825px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 5px;
  background-color: rgb(255, 255, 255);
  min-height: 440px;
  font-size: 16px;
  border-radius: 8px;
  overflow: hidden;
}

.registration-in {
  display: flex;
}

.registration-in .left-side {
  min-height: 542px;
  -webkit-box-flex: 1;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0px;
  background: rgb(250, 250, 250);
}

.registration-in .left-side .house {
  text-align: center;
  margin-top: 10px;
  height: 200px;
  padding-top: 50px;
}

.registration-in .left-side .house img {
  width: 120px;
}

.registration-in .left-side .logo {
  padding-top: 40px;
  display: block;
  text-align: center;
}

.registration-in .left-side ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.registration-in .left-side ul li {
  position: relative;
  color: rgb(29, 29, 29);
  font-size: 1em;
  line-height: 30px;
  text-align: center;
  font-weight: 300;
}

.registration-in .right-side {
  position: relative;
  -webkit-box-flex: 1;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0px;
}

.registration-in .right-side .heading span {
  color: #1d1d1d;
  font-size: 18px;
  font-weight: 400;
}

.registration-in .right-side .heading {
  padding: 50px 0 0 0;
  text-align: center;
}

.registration-in .right-side .registration-form {
  padding: 25px 30px 0 30px;
}

.registration-in .right-side .registration-form .form-group {
  margin-bottom: 15px;
}

.registration-in .right-side .registration-form input {
  background-clip: border-box;
  font-size: 14px;
  height: 38px;
}

.registration-in .right-side .registration-form label {
  font-size: 15px;
  margin-bottom: 3px;
  color: #1d1d1d;
}

.registration-in .right-side .registration-form input:focus {
  border: solid 1px #c0c0c0;
  box-shadow: none;
}

.registration-in .right-side .registration-form .submit-btn {
  display: block;
  width: 100%;
  height: 38px;
}

.red-btn {
  font-family: 'Open Sans', sans-serif;
  background: #b71c1c !important;
  color: #fff !important;
  border: none;
  border-radius: 3px;
}
.red-btn:hover {
  background: #b71c1c !important;
  color: #fff !important;
  border: none;
  border-radius: 3px;
}


.registration-in .right-side .registration-form .already-user {
  text-align: center;
  padding: 16px 0 0 0;
  color: #6e6e6e;
  font-size: 14px;
  line-height: 18px;
}

.registration-in .right-side .registration-form .already-user a {
  color: #b51e24;
  text-decoration: underline;
}

.verify-code {
  padding: 10px;
}

#verfiyModal .modal-dialog {
  max-width: 410px;
}

#verfiyModal .modal-dialog .heading {
  font-size: 20px;
  margin-bottom: 1rem;
  line-height: 20px;
}

#verfiyModal .modal-dialog p {
  font-size: 14px;
  margin-bottom: 10px;
  color: #666;
}

#verfiyModal .modal-content {
  border: solid 1px #d7d7d7;
}

.verify-code .submit-btn {
  width: 100%;
  height: 38px;
}

.verify-code input:focus {
  box-shadow: none;
  border: solid 1px #c0c0c0;
}

.not-get-code p {
  color: #666;
}

.not-get-code i {
  color: #666;
}

.not-get-code a {
  font-size: 14px;
}

.registration-in .right-side .registration-form .forgot-pwd {
  text-align: right;
  font-size: 14px;
  margin-top: 5px;
}

.registration-in .right-side .registration-form .imp-note {
  margin-top: 25px;
}

.registration-in .right-side .registration-form .imp-note h3 {
  font-size: 14px;
  margin-bottom: 5px;
  text-transform: uppercase;
  font-weight: 600;
}

.registration-in .right-side .registration-form .imp-note p {
  font-size: 12px;
  line-height: 18px;
  color: #a2a1a1;
}

/********** Header ******/
.header {
  background: #fff;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.05);
  padding: 10px 0 5px 0;
}

.header .logo img {
  width: 130px;
}

.header .navbar {
  padding: 0px;
}

.header .navbar-nav {
  margin-left: 80px;
}

.header .navbar-nav li a {
  color: #1d1d1d;
  font-size: 15px;
}

.header .navbar-nav .nav-link {
  font-size: 16px;
  font-weight: 500;
  background-color: transparent;
  border-color: transparent;
  color: #000;
}

.header .navbar-nav .nav-link:active {
  background-color: transparent;
  border-color: transparent;
  color: #000;
  box-shadow: none !important;
}

.header .navbar-nav .nav-link:focus {
  box-shadow: none;
}

.header .navbar-nav .dropdown-toggle::after {
  display: none;
}

.header .navbar-nav .nav-item {
  margin: 0 6px;
}

.header .header-reg {
  margin-left: auto;
  display: flex;
  align-items: center;
}

.header .header-reg .login-btn {
  padding: 5px 30px;
  color: #fff !important;
  font-size: 15px;
  display: inline-block;
}

.header .header-reg .login-btn:hover {
  color: #fff;
  text-decoration: none;
}

.header .header-reg .register-btn {
  padding: 5px 22px;
  color: #fff !important;
  font-size: 15px;
  display: inline-block;
}

.header .header-reg .register-btn:hover {
  color: #fff;
  text-decoration: none;
}

.header .header-reg a {
  color: #b71c1c;
  font-size: 15px;
}

.header-reg img {
  width: 28px;
}

.inner-wrapper {
  background: #f3f3f3;
  height: 100%;
}

/********** Forgot Password  ******/
.forgot-password-side p {
  font-size: 14px;
  padding: 15px 15px 0 15px;
  color: #a2a1a1;
  margin-bottom: 0px;
}

/********** Sidebar  ******/
.profile-setting {
  margin-top: 50px;
}

.sidebar {
  background: #fff;
}

.sidebar ul {
  margin: 0px;
  padding: 0px;
}

.sidebar ul li {
  list-style: none;
  border-bottom: solid 1px #efeeee;
}

.sidebar ul li a {
  display: block;
  padding: 15px;
  text-decoration: none;
  color: #1d1d1d;
  font-size: 15px;
}

.sidebar ul li a.active {
  background: #b71c1c;
  color: #fff;
}

.profile-form {
  background: #fff;
}

.upload-profile-pic {
  margin: 75px 0 25px 0;
}

.upload-profile-pic img {
  width: 200px;
  height: 200px;
  border-radius: 100%;
  display: block;
  margin: 0 auto;
}

.profile-form-in {
  padding: 20px;
  border-top: 1px solid transparent;
}

.upload-profile-pic h3 {
  font-size: 18px;
}

.profile-form-in label {
  font-size: 15px;
  margin-bottom: 3px;
}

.profile-form-in .form-group {
  margin-bottom: 12px;
}

.more-about-you h3 {
  font-size: 14px;
  margin: 20px 0;
}

button a {
  color: #fff;
  display: block;
}

button a:hover {
  color: #fff;
}

button:focus {
  box-shadow: none;
}

.btn:focus {
  box-shadow: none;
}

.about-option {
  /* border-left: solid 1px #ccc; */
}

.about-option ul {
  margin: 0 15px;
  padding: 0px;
  display: inline-block;
}

.about-option ul li {
  list-style: none;
  display: flex;
  margin-bottom: 5px;
}

.about-option ul li input {}

.about-option ul li label span {
  font-size: 14px;
}

.change-pwd-profile h3 {
  font-weight: 600;
  font-size: 16px;
}

.user-info h3 {
  font-size: 18px;
}

.update-pwd-btn {
  height: 38px;
  padding: 0 15px;
}

.profile_row .left-chatbox {
  flex: 0 0 20%;
  max-width: 20%;
}

.profile_row .right-chatbox {
  flex: 0 0 80%;
  max-width: 80%;
}

.side_tab {
  background-color: #37515e;
}

.profile_row .side_tab .nav {
  flex-direction: column;
  background-color: #f9f7f8;
}

.profile_row .side_tab .nav-pills .nav-link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 20px;
  font-size: 13.5px;
  border-bottom: 2px solid #36505d;
  background-color: #334957;
  color: #fff;
  font-weight: 500;
  border-radius: 0px;
}

.profile_row .side_tab .nav-pills .nav-link span i {
  margin-right: 10px;
}

.profile_row .side_tab .nav-pills .nav-link.active,
.side_tab .nav-pills .show>.nav-link {
  background-color: #b71c1c;
  color: #fff;
}

/*signup modal*/
.register_main {
  background-color: #fff;
  /* margin-top: 50px; */
  padding: 20px 5px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 5px;
  border-radius: 8px;
}

.register_body {
  width: 760px;
  margin: 0 auto;
}

.register_main .register-head p {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 500;
}

.register_main .input-group-prepend .group-box {
  width: 38px;
  height: 38px;
  justify-content: center;
  padding: 0px;
}

.register_main label {
  font-size: 15px;
  margin-bottom: 3px;
  color: #1d1d1d;
}

.register_main input:focus {
  border: solid 1px #c0c0c0;
  box-shadow: none;
}

.register_main .submit-btn {
  display: block;
  padding: 5px 30px;
  font-size: 15px;
}

.register_main .already-user {
  text-align: center;
  padding: 12px 0 0 0;
  color: #6e6e6e;
  font-size: 14px;
  line-height: 18px;
}

.register_main .already-user a {
  color: #b51e24;
  text-decoration: underline;
}

.register_main .imp-box {
  border: 1px solid #e1e1e1;
  padding: 10px;
}

.register_main .imp-box h5 {
  font-size: 16px;
  text-transform: uppercase;
  text-align: center;
  font-weight: 500;
  color: #7c7c7c;
}

.register_main .imp-box p {
  font-size: 12px;
  color: #7c7c7c;
}

/* property creation */
.creation-steps {
  background-color: #fff;
}

.bs-wizard {
  border-bottom: solid 1px #e0e0e0;
  padding: 0;
}

.bs-wizard {
  background: #f5f8fa;
  border-radius: 10px;
}

.complete.first, .complete:first-child {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.bs-wizard>.col-xs-2 {
  width: 25%;
}

.bs-wizard>.bs-wizard-step {
  padding: 14px 0 9px;
  position: relative;
}

.complete {
  background: linear-gradient(#b71c1c, #ef473a);
}

/*#cb2d3e*/
.bs-wizard-number {
  color: #fff;
  display: none;
}

.text-center {
  text-align: center;
}

.bs-wizard>.bs-wizard-step .bs-wizard-stepnum {
  color: #939596;
  font-size: 11px;
  text-transform: uppercase;
  margin-bottom: 5px;
  letter-spacing: 1px;
}

.complete .bs-wizard-stepnum {
  color: #fff !important;
}

.bs-wizard>.bs-wizard-step:first-child>.progress {
  left: 50%;
  width: 50%;
}

.bs-wizard>.bs-wizard-step>.progress {
  position: relative;
  border-radius: 0;
  height: 1px;
  box-shadow: none;
  margin: 24px 0;
  background: #e3e5e7;
}

.progress {
  overflow: hidden;
  height: 20px;
  margin-bottom: 20px;
  background-color: #f5f5f5;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
}

.bs-wizard>.bs-wizard-step.complete>.progress>.progress-bar {
  width: 100%;
}

.bs-wizard>.bs-wizard-step>.progress>.progress-bar {
  width: 0;
  box-shadow: none;
  background: 0 0;
}

.progress-bar {
  float: left;
  width: 0%;
  height: 100%;
  font-size: 12px;
  line-height: 20px;
  color: #fff;
  text-align: center;
  background-color: #337ab7;
  -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .15);
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .15);
  -webkit-transition: width .6s ease;
  -o-transition: width .6s ease;
  transition: width .6s ease;
}

.complete .bs-wizard-dot {
  width: 36px !important;
  height: 36px !important;
  top: 52px !important;
}

.complete .bs-wizard-dot:after {
  background: #fff url(/images/process-check.png) no-repeat center !important;
}

.complete .bs-wizard-dot:after {
  width: 24px !important;
  height: 24px !important;
  top: 5.5px !important;
  left: 5.5px !important;
}

.bs-wizard>.bs-wizard-step.disabled a.bs-wizard-dot {
  pointer-events: none;
}

.bs-wizard>.bs-wizard-step.disabled>.bs-wizard-dot {
  background: linear-gradient(#b71c1c, #ef473a);
}

.bs-wizard>.bs-wizard-step>.bs-wizard-dot {
  position: absolute;
  width: 24px;
  height: 24px;
  display: block;
  background: #b71c1c;
  top: 57px;
  left: 50%;
  margin-top: -15px;
  margin-left: -15px;
  border-radius: 50%;
}

.bs-wizard>.bs-wizard-step.disabled>.bs-wizard-dot:after {
  opacity: 0;
}

.bs-wizard>.bs-wizard-step>.bs-wizard-dot:after {
  content: ' ';
  width: 14px;
  height: 14px;
  background: #fff;
  border-radius: 50px;
  position: absolute;
  top: 8px;
  left: 8px;
}

.complete.current .bs-wizard-dot:after {
  background-image: none !important;
}

.bs-wizard>.bs-wizard-step:last-child>.progress {
  width: 50%;
}

.complete:last-child {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

/*property creation*/
.creation-steps .step-btn {
  padding: 5px 30px;
  color: #fff !important;
  font-size: 15px;
  display: inline-block;
  text-decoration: none;
}

.creation-steps .step-number {
  font-size: 16px;
  color: #000;
  opacity: 0.5;
  text-transform: uppercase;
}

.creation-steps .step-name {
  font-size: 24px;
  color: #000;
  font-weight: 600;
}

.profile-form label {
  font-size: 15px;
  margin-bottom: 3px;
  color: #1d1d1d;
}

.profile-form input:focus, .profile-form select:focus,
.profile-form textarea:focus, .profile-form .custom-file input.custom-file-input {
  border: solid 1px #c0c0c0;
  box-shadow: none;
}

.step_row {
  align-items: center;
}

.step_row label {
  font-weight: 600;
  font-size: 14px;
}
.step_row .custom-file label{
  font-size: 15px;
  font-weight: 400;
}
.step_row .form-check label{
  font-weight: 400;
}
.step_row .react-datepicker-wrapper{
  width: 100%;
}
.step_row .multi-select .dropdown{
  font-size: 0.85rem;
}
.step_textarea .col-md-9{
  flex: 0 0 76%;
  max-width: 76%;
}
.step_textarea .col-md-3{
  flex: 0 0 24%;
  max-width: 24%;
}
.creation-forms .form-control{
  font-size: 0.85rem;
}
/*my properties*/
.my-property-box::-webkit-scrollbar {
  display: none;
}

.properties-list {
  border: 1px solid rgba(193, 193, 193, 0.5);
  margin: 20px 0px;
  align-items: center;
}

.properties-img .img-box img {
  width: 117px;
}

.properties-address h5 {
  font-size: 16px;
  text-transform: capitalize;
  margin-bottom: 8px;
}

.properties-address .address-list {
  display: flex;
  justify-content: end;
}

.properties-address .address-list .p-format {
  display: flex;
  justify-content: space-between;
  width: 140px;
  margin-right: 8px;
}

.properties-address .address-list p {
  font-size: 13px;
  font-weight: 400;
  margin-bottom: 0;
}

.properties-address .address-list p:first-child {
  font-weight: 500;
}

.properties-price h4 {
  font-size: 16px;
  margin-bottom: 8px;
}

.properties-price p {
  font-size: 12px;
  text-transform: capitalize;
  margin-bottom: 0;
}

.properties-price button {
  font-size: 14px;
}

.properties-price {
  border-left: 1px solid rgba(193, 193, 193, 0.5);
  border-right: 1px solid rgba(193, 193, 193, 0.5);
  padding: 16px 0;
}

.properties-btn a {
  font-size: 13px;
  font-weight: 500;
}

.time-span h5 {
  font-weight: 600;
  font-size: 18px;
  color: #b71c1c;
}

.nav-properties .nav-link {
  color: #000;
  font-weight: 500;
}

.nav-properties .nav-link.active {
  background-color: transparent;
  color: #b71c1c;
  border-bottom: 2px solid #b71c1c;
  border-radius: 0px;
}

.nav-properties {
  border-bottom: 1px solid rgba(193, 193, 193, 0.2);
}

/*chat page*/
.chat-side {
  background-color: #fff;
  height: calc(100vh - 200px);
  overflow-y: auto;
}

.chat-body {
  background-color: #fff;
  height: calc(100vh - 200px);
  overflow-y: auto;
  border-left: 1px solid #eee;
}

.chat-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #eee;
}

.chat-head h5 {
  margin-bottom: 0;
  text-transform: capitalize;
}

.chat-head .chat-icon {
  display: flex;
  align-items: center;
}

.chat-icon .icon_box {
  width: 40px;
  height: 40px;
  line-height: 38px;
  text-align: center;
}

.chat-icon .icon_box a {
  color: #000;
  text-decoration: none;
}

.chat-side .chat-side-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 21px 10px;
}

.chat-side .chat-side-head h6 {
  margin-bottom: 0px;
}

.chat-side .chat-side-head a {
  color: #000;
  text-decoration: none;
}

.chat-side ul li a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 0px;
  text-transform: capitalize;
  text-decoration: none;
  color: #000;
}

.chat-side ul li a:hover {
  background-color: rgb(248, 248, 248);
}

.chat-side ul li p {
  margin-bottom: 0px;
}

.active-main {
  display: flex;
  align-items: center;
  justify-content: left;
}

span.active-user {
  width: 10px;
  height: 10px;
  border: 1px solid #99D04A;
  background-color: #99D04A;
  border-radius: 50px;
  display: inline-block;
  margin-left: 10px;
  margin-right: 15px;
}

span.inactive-user {
  width: 10px;
  height: 10px;
  border: 1px solid #ddd;
  background-color: #ddd;
  border-radius: 50%;
  display: inline-block;
  margin-left: 10px;
  margin-right: 15px;
}

span.badge {
  margin-left: 15px;
  margin-right: 10px;
}

.chat-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 10px 0;
}

.connect_text p {
  margin-bottom: 0;
  color: rgb(29, 28, 29);
  font-size: 12px;
  margin-top: 5px;
}

.chat-data {
  height: calc(100% - 120px);
  overflow-y: auto;
}

.chat-data .user_img img {
  width: 52px;
  height: 52px;
}

.chat-data .user-row {
  align-items: flex-start;
  border-left: 0;
  border-right: 0;
  position: relative;
}

.chat-data .user-row:hover {
  background-color: rgb(248, 248, 248);
  border-left: 0;
  border-right: 0;
}

.chat-data .user-row .user-task {
  position: absolute;
  top: -12px;
  right: 30px;
  display: flex;
}

.chat-data .user-row .user-task .edit-task {
  width: 32px;
  height: 25px;
  line-height: 23px;
  text-align: center;
  background-color: #fff;
  border: 1px solid #ddd;
  display: none;
}

.chat-data .user-row .user-task .edit-task:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.chat-data .user-row .user-task .edit-task:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.chat-data .user-row:hover .user-task .edit-task {
  display: block;
}

.chat-data .user-row .user-task .edit-task a {
  color: #000;
}

.chat-data .user_data p {
  font-size: 13px;
}

.chat-data .user_data img {
  width: 150px;
  height: 100px;
}

.chat-data .user_data .user_time {
  display: flex;
}

.chat-data .user_data .user_time h6 {
  font-size: 14px;
  font-weight: 600;
  text-transform: capitalize;
  margin-bottom: 5px;
}

.chat-data .user_data .user_time span {
  font-size: 12px;
  font-weight: 400;
  text-transform: capitalize;
  margin-bottom: 5px;
  margin-left: 5px;
}

.chat-data .user_data .doc-box {
  border: 1px solid #dee2e6;
  padding: 10px;
  display: flex;
  align-items: center;
}

.chat-data .user_data .doc-box i {
  font-size: 36px;
}

.chat-data .user_data .doc-box .doc-detail {
  margin-left: 10px;
}

.chat-data .user_data .doc-box h6 {
  margin-bottom: 0px;
  font-size: 13px;
  font-weight: 600;
  line-height: 0.5;
  margin-top: 6px;
}

.chat-data .user_data .doc-box span {
  margin-bottom: 0px;
  font-size: 12px;
  font-weight: 400;
}

.group-box {
  background-color: transparent;
}

.group-box a {
  color: #000;
}

/* live online biding */
.biding_row {
  background-color: #fff;
}

.biding_row .biding-img img {
  width: 142px;
  height: 100px;
}

.biding_row .biding-border, .biding_row .pay-border {
  border-right: 1px solid #ddd;
}

.biding_row .property-biding p {
  font-size: 13px;
  margin-bottom: 0;
}

.biding_row .property-biding h5 {
  font-size: 16px;
  font-weight: 600;
}

.biding_row .property-biding .property-details p {
  margin-bottom: 4px;
}

.type-family {
  font-size: 13px;
  color: #b71c1c;
  font-weight: 500;
  text-transform: capitalize;
}

.biding_row .property-biding .property-details p span {
  font-weight: 500;
  text-transform: capitalize;
  font-size: 13px;
  white-space: nowrap;
}

.biding_row .pay-detail h5 {
  font-size: 16px;
  text-transform: capitalize;
  text-align: center;
  font-weight: 600;
}

.biding_row .pay-detail ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0;
}

.biding_row .pay-detail ul li {
  list-style-type: none;
  font-size: 13px;
  font-weight: 500;
}

.time-span {
  display: flex;
  justify-content: space-evenly;
}

.time-span ul {
  text-align: center;
  margin-bottom: 5px;
}

.time-span ul li:first-child {
  font-size: 16px;
  font-weight: 600;
}

.time-span ul li:last-child {
  font-size: 10px;
  font-weight: 400;
  text-transform: uppercase;
}

.time-detail {
  text-align: center;
}

.time-detail h4 {
  margin: 12px 0;
  font-size: 18px;
  font-weight: 500;
}

.time-detail p {
  font-size: 13.5px;
  font-weight: 500;
  text-transform: capitalize;
  margin-bottom: 0;
}

.btn-biding {
  padding: 5px 30px;
  color: #fff !important;
  font-size: 15px;
  display: inline-block;
}

/*admin dashboard */
.admin_container {
  padding: 0;
}

.admin_container .left_tab {
  flex: 0 0 18% !important;
  max-width: 18% !important;
}

.admin_container .right_tab {
  flex: 0 0 82% !important;
  max-width: 82% !important;
}

.tab-container {
  width: 100%;
  max-width: 100%;
}

/*under review*/
.under_review {
  background-color: #fff;
  padding: 0px;
}

.dropdown a.red-btn {
  font-size: 14px;
}

.dropdown a.red-btn:hover {
  font-size: 14px;
  text-decoration: none;
  color: #fff;
}

.table.review_table {
  margin-bottom: 0;
}

.table.review_table th {
  font-size: 13px;
  padding: 0.75rem 0.40rem;
}

.table.review_table td {
  vertical-align: middle;
  font-size: 13px;
  padding: 0.75rem 0.40rem;
}

.review_table td p {
  font-size: 12px;
  font-weight: 400;
  margin-bottom: 0;
}

.table.review_table td:nth-child(1), .table.review_table th:nth-child(1) {
  width: 2%;
  border-right: 0px;
}

.table.review_table td:nth-child(2), .table.review_table th:nth-child(2) {
  width: 11%;
  border-left: 0px;
  padding: 0.35rem 0.40rem;
}

.table.review_table td:nth-child(3), .table.review_table th:nth-child(3) {
  width: 8%;
}

.table.review_table td:nth-child(4), .table.review_table th:nth-child(4) {
  width: 23%;
}

.table.review_table td:nth-child(5), .table.review_table th:nth-child(5) {
  width: 11%;
}

.table.review_table td:nth-child(6), .table.review_table th:nth-child(6) {
  width: 11%;
}

.table.review_table td:nth-child(7), .table.review_table th:nth-child(7) {
  width: 11%;
}

.table.review_table td:nth-child(8), .table.review_table th:nth-child(8) {
  width: 11%;
}

.table.review_table td:nth-child(9), .table.review_table th:nth-child(9) {
  width: 11%;
}

.table.review_table td:nth-child(9) {
  text-align: center;
}

.table.bidding_table td:nth-child(6) {
  text-align: center;
}

.table.review_table td .review-btn-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.review-btn-box a {
  text-decoration: none;
  color: #000;
  border: 1px solid #000;
  padding: 6px 12px;
}

.review-btn-box a i {
  font-size: 16px;
}

.table td {
  border: 0px !important;
}

.under_review_list::-webkit-scrollbar {
  display: none;
}

.biding_row {
  padding: 10px;
  border: 1px solid #ddd;
}

/*Property Details*/
.wrap_property {
  background-color: #fff;
  margin: 16px 0 0 0;
  padding: 15px;
  border: 1px solid #ddd;
}

.wrap_property h5.main_box_head {
  font-size: 1rem;
  color: #3989df;
  font-weight: 600;
}

.property-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.head_address h3 {
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 0;
}
.font-blue {
  color: #3989df;
}
.head_address h5 {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 0;
}

.property-head .head_icon {
  display: flex;
  border: 1px solid #ddd;
  border-radius: 8px;
}

.property-head .head_icon .head_icon_box {
  border-right: 1px solid #ddd;
}

.property-head .head_icon a {
  text-align: center;
  width: 75px;
  height: 59px;
  color: #646464;
  text-decoration: none;
}

.property-head .head_icon a svg {
  font-size: 35px;
  padding-top: 6px;
}

.property-head .head_icon a p {
  font-size: 12px;
  margin-bottom: 0px;
}

.property_gallery {
  position: relative;
  padding-top: 15px;
}

.property_gallery .mySlides {
  display: none;
}

.cursor {
  cursor: pointer;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.8);
}

.row_gallery {
  display: flex;
}

.column_gallery {
  float: left;
  width: 16.66%;
}

.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

.property_rate h4 {
  text-transform: capitalize;
  color: #b71c1c;
  margin-bottom: 5px;
  font-size: 1.5rem;
  font-weight: 600;
}

.property_rate h4.rate-head {
  color: #000;
  font-size: 1.25rem;
  margin-bottom: 0px;
}

.property_rate h5 {
  font-weight: 600;
  font-size: 1.5rem;
}

.property_rate p {
  text-transform: capitalize;
  color: #000;
  font-size: 12px;
  font-weight: 500;
}

.property_rate a {
  text-decoration: none;
}

input.form-control:focus {
  box-shadow: none;
  border-color: #ced4da;
}

.estimated_rate ul {
  display: flex;
  justify-content: space-between;
}

.estimated_rate ul li {
  font-size: 14px;
  font-weight: 500;
  font-size: 15px;
  font-weight: 600;
}

.estimated_rate .price-box ul li {
  font-size: 15px;
  font-weight: 500;
}

.estimated_rate h6 {
  font-weight: 400;
  font-size: 14px;
  margin-bottom: 13px;
  margin-top: 13px;
}

.detail_sec {
  border-right: 1px solid #ddd;
}

.price-box {
  border-bottom: 1px solid #ddd;
}

.price-box ul {
  display: flex;
  justify-content: space-between;
}

.estimated_rate p {
  font-size: 12px;
  font-style: italic;
}

.estimated_rate p span {
  font-weight: 600;
  font-style: normal;
}

.detailed_content p {
  font-size: 14px;
  margin-bottom: 0px;
}

.detailed_content p span {
  font-weight: 600;
}

.detailed_content ul li {
  font-size: 14px;
}

.detailed_content ul li span {
  font-weight: 500;
}

.fees-content ul {
  padding: 0px 16px;
  margin-bottom: 0;
}

.fees-content ul li {
  font-size: 14px;
}

.pdf_type {
  border: 1px solid #ddd;
  padding: 15px;
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.pdf_type svg {
  font-size: 35px;
  color: #b82f1e;
}

.pdf_type p {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 0;
  margin-left: 10px;
}

.terms-box ul {
  padding: 0px 16px;
  margin-bottom: 0;
}

.terms-box ul li {
  font-size: 14px;
}

.info-content p {
  font-size: 14px;
}

.info-content .info-icon-box {
  display: flex;
}

.info-content .info-icon-box .info_icon {
  margin: 0 10px;
  text-align: center;
  width: 33%;
}

.info_icon {
  text-decoration: none;
  color: #000;
}

.info_icon:hover {
  text-decoration: none;
  color: #000;
}

.info_icon h6 {
  font-size: 12px;
  font-weight: 400;
}

.info_icon i {
  font-size: 32px;
  margin-bottom: 5px;
}

.video-box img {
  width: 552px;
  height: 356px;
}

.map-box img {
  width: 552px;
  height: 356px;
}

.info-box img {
  width: 352px;
  height: 110px;
  margin-bottom: 15px;
}

.time_status {
  display: flex;
  text-align: center;
  justify-content: center;
}

.time_status ul {
  margin-bottom: 0;
  padding: 0 5px 0 10px;
}

.time_status ul li {
  list-style-type: none;
}

.time_status ul li:first-child {
  font-size: 26px;
}

.time_status ul li:last-child {
  font-size: 12px;
  font-weight: 400;
}

/* footer */
.footer {
  background-color: #37383a;
}

.footer .footer-link {
  padding: 35px 0px;
}

.footer .footer-link h5 {
  color: #fff;
  font-size: 15px;
  font-weight: 500;
  text-transform: uppercase;
}

.footer .footer-link ul {
  list-style-type: none;
  padding-left: 0;
}

.footer .footer-link ul li a {
  color: #4e6064;
}

.footer .footer-link ul li a:hover {
  text-decoration: none;
}

.footer-copyright {
  text-align: center;
  padding: 15px 0;
  background-color: #222222;
}

.footer-copyright h5 {
  color: #fff;
  font-weight: 500;
  font-size: 14px;
  margin: 0px;
}

/* property soon */
.analysis-box {
  border: 0px !important;
}

.soon_location img {
  width: 552px;
  height: 259px;
}

/* terms and condition */
.terms_main h4 {
  font-size: 1.25rem;
}

.terms_main h5 {
  font-size: 1rem;
}

.terms_main h6 {
  font-size: 0.8rem;
  text-decoration: underline;
  margin-bottom: 0px;
}

.terms_main a {
  text-decoration: underline;
  color: #000;
  font-weight: 500;
}

.terms_main p {
  font-size: 0.8rem;
}

.terms_main ol {
  padding-left: 20px;
}

.terms_main address {
  font-size: 0.8rem;
}

.terms_main ol li {
  font-size: 0.8rem;
}

.alert {
  font-size: 13px;
}

.home_auction {
  background-color: #fff;
}

/*home*/
.home_main {
  background-color: #fff;
}

.video_col {
  height: calc(100vh - 75px);
  position: relative;
  overflow: hidden;
}

#videobcg {
  min-width: 100%;
  min-height: 100%;
  width: 100%;
  height: auto;
  z-index: -1000;
  overflow: hidden;
}

.sub_title {
  background-color: #21618C;
  padding: 15px 0;
  font-size: 25px;
  color: #fff;
}

.sub_title span {
  display: inline-block;
  padding-top: 5px;
}

.sub_title a {
  display: inline-block;
  padding: 5px 20px;
  font-size: 20px;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 8px;
}

.help_col {
  padding: 40px 0;
}

.inner_info {
  padding: 12px;
  margin-bottom: 30px;
  border: 1px solid #ddd;
  text-align: center;
  min-height: 440px;
}

.inner_img img {
  height: 190px;
  width: 100%;
}

.inner_info h5 {
  margin: 35px 0 20px;
  color: #f00;
  text-align: center;
  font-size: 18px;
  text-transform: uppercase;
}

.inner_info p {
  text-align: center;
  color: #7f8795;
  min-height: 70px;
  font-size: 14px;
}

.learnmore {
  padding: 10px 0 0;
  margin-bottom: 20px;
}

.learnmore a {
  display: inline-block;
  padding: 5px 22px;
  font-size: 14px;
  color: #f00;
  border: 2px solid #f00;
  border-radius: 5px;
  text-decoration: none;
}

.featured_col h2 {
  margin: 0 0 30px;
  padding: 0 0 20px;
  border-bottom: 1px solid #eee;
  text-align: center;
  font-size: 25px;
  color: #515b69;
  font-weight: 700;
}

.flipping {
  padding: 12px;
  background-color: transparent;
}

.flip-card {
  background-color: transparent;
  width: 236px;
  height: 250px;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: transparent;
  color: black;
}

.flip-card-front h5 {
  font-size: 1rem;
  margin: 10px 5px;
}

.flip-card-front p {
  font-size: 0.80rem;
  margin: 10px 5px;
}

.flip-card-back {
  background-color: transparent;
  transform: rotateY(180deg);
  padding: 10px;
}

.flip-card-back h5 {
  color: #000;
  font-size: 1rem;
}

.flip-card-back .flip-data ul {
  color: #000;
  font-size: 13px;
  font-weight: 400;
  display: flex;
  justify-content: space-between;
  margin: 12px 0px;
}

.flip-card-back .flip-data {
  border-bottom: 1px solid #ddd;
}

.flip-card-back ul {
  color: #000;
  font-size: 14px;
  font-weight: 500;
  display: flex;
  margin: 12px 0px 36px 0px;
  justify-content: space-between;
}

.flip-card-back p {
  font-size: 13px;
  font-weight: 400;
}

.flip-card-back a {
  padding: 8px 22px;
  text-decoration: none;
  color: #fff;
}

.dealofweek {
  padding-top: 10px;
  padding-bottom: 50px;
}

.dealofweek p {
  font-size: 17px;
  line-height: 25px;
}

.apply-btn {
  padding: 8px 22px;
  text-decoration: none;
  color: #fff;
}

.dealofweek p.sbold {
  font-weight: 600;
  font-size: 16px;
  color: #272727;
  margin-bottom: 0;
  margin-top: 10px;
}

a.freems {
  display: block;
  color: #428bca;
  font-size: 16px;
  text-decoration: underline;
}

.pleft80 {
  padding-left: 80px;
}

.profile-menu {
  left: -100px !important;
  right: 0px !important;
  top: 0 !important;
}

.header-reg .dropdown button {
  font-size: 16px;
  font-weight: 500;
  background-color: transparent !important;
  border-color: transparent !important;
}

.header-reg .dropdown button:active {
  background-color: transparent !important;
  border-color: transparent !important;
  box-shadow: none !important;
}

.header-reg .dropdown button:focus {
  box-shadow: none !important;
  background-color: transparent !important;
  border-color: transparent !important;
}

.header-reg .dropdown button.dropdown-toggle::after {
  display: none;
}

.header-reg .dropdown-menu a {
  color: #1d1d1d;
}

.dropdown-item.active, .dropdown-item:active {
  background-color: #f8f9fa;
}

/* tooltip */
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 0px dotted black;
  opacity: 1;
  font-size: 15px;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 250px;
  background-color: #fff;
  color: #000;
  text-align: center;
  border-radius: 6px;
  padding: 10px;
  position: absolute;
  z-index: 1;
  bottom: 173%;
  left: -59%;
  margin-left: -60px;
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.3);
}

.tooltip .tooltiptext h6 {
  font-size: 16px;
  font-weight: 600;
  color: #b71c1c;
  margin: 10px 0px;
}

.tooltip .tooltiptext p {
  font-weight: 400;
  font-size: 12px;
  color: #000;
  text-transform: none;
  margin: 10px 0px;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #fff transparent transparent transparent;
  box-shadow: 1px 1px -6px 0px rgba(0, 0, 0, 0.6);
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

/* toggle admin sidebar */
.admin_sub_menu a.nav-link {
  padding-left: 40px !important;
}

/* .admin_menu_link {
  background-color: #f9f7f8 !important;
  color: #000 !important;
} */
.red-btn.edit_btn {
  padding: 5px 30px;
}

/*email system*/
.table.email_table {
  margin-bottom: 0;
}

.table.email_table th {
  font-size: 13px;
  padding: 12px 10px;
}

.table.email_table td {
  vertical-align: middle;
  font-size: 13px;
}

.email_table td p {
  font-size: 12px;
  font-weight: 400;
  margin-bottom: 0;
}

.table.email_table td:nth-child(1), .table.email_table th:nth-child(1) {
  width: 80%;
}

.table.email_table td:nth-child(2), .table.email_table th:nth-child(2) {
  width: 20%;
}

.table.email_table td:nth-child(2) {
  text-align: right;
}

.table td {
  border: 0px !important;
}

.under_review_list::-webkit-scrollbar {
  display: none;
}

.under_review_list .review_table tr {
  border-bottom: 1px solid #dee2e6;
}

.under_review_list .email_table tr {
  border-bottom: 1px solid #dee2e6;
}

/* schedule a request */
.table.request_table td:nth-child(1), .table.request_table th:nth-child(1) {
  width: 20%;
}

.table.request_table td:nth-child(2), .table.request_table th:nth-child(2) {
  width: 35%;
}

.table.request_table td:nth-child(3), .table.request_table th:nth-child(3) {
  width: 15%;
}

.table.request_table td:nth-child(4), .table.request_table th:nth-child(4) {
  width: 15%;
}

.table.request_table td:nth-child(5), .table.request_table th:nth-child(5) {
  width: 15%;
  padding: 0.40rem;
}

.table.request_table td:nth-child(5) {
  text-align: center;
}

.switch {
  position: relative;
  display: inline-block;
  width: 56px;
  height: 30px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 23px;
  width: 23px;
  left: 5.5px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked+.slider {
  background-color: #b71c1c;
}

input:checked+.slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(22px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/*subscriber list*/
.table.subscriber_table td:nth-child(1), .table.subscriber_table th:nth-child(1) {
  width: 40%;
}

.table.subscriber_table td:nth-child(2), .table.subscriber_table th:nth-child(2) {
  width: 40%;
}

.table.subscriber_table td:nth-child(3), .table.subscriber_table th:nth-child(3) {
  width: 20%;
}

/* termination Request */
.table.termination_table td:nth-child(1), .table.termination_table th:nth-child(1) {
  width: 3%;
  border-right: 0px;
}

.table.termination_table td:nth-child(2), .table.termination_table th:nth-child(2) {
  width: 20%;
  border-left: 0px;
}

.table.termination_table td:nth-child(3), .table.termination_table th:nth-child(3) {
  width: 12%;
}

.table.termination_table td:nth-child(4), .table.termination_table th:nth-child(4) {
  width: 35%;
}

.table.termination_table td:nth-child(5), .table.termination_table th:nth-child(5) {
  width: 15%;
}

.table.termination_table td:nth-child(6), .table.termination_table th:nth-child(6) {
  width: 15%;
}

.table.termination_table td:nth-child(6) {
  text-align: center;
}

.licence-div {
  border-left: solid 1px #ccc;
}

/* bid modal */
.bid_modal .modal-dialog .modal-header, .status_modal .modal-dialog .modal-header {
  background-color: #b71c1c;
  color: #fff;
}

.bid_modal .modal-dialog {
  max-width: 740px;
}

.table.modalbid_table th:nth-child(1) {
  border-right: 1px solid #dee2e6;
}

.table.modalbid_table th:nth-child(2) {
  border-left: 1px solid #dee2e6;
}

.table.modalbid_table td:nth-child(1), .table.modalbid_table th:nth-child(1) {
  width: 21.5%;
}

.table.modalbid_table td:nth-child(2), .table.modalbid_table th:nth-child(2) {
  width: 15%;
}

.table.modalbid_table td:nth-child(3), .table.modalbid_table th:nth-child(3) {
  width: 21.5%;
}

.table.modalbid_table td:nth-child(4), .table.modalbid_table th:nth-child(4) {
  width: 21.5%;
}

.table.modalbid_table td:nth-child(5), .table.modalbid_table th:nth-child(5) {
  width: 15%;
}

/* status Modal */
.status_modal .modal-dialog {
  max-width: 601px;
}

.status_modal .modal-body .status-list {
  border-right: 2px solid #dee2e6;
}

.status_modal .modal-body .status-list ul li {
  width: 100%;
  margin: 2px 0px;
}

.status_modal .modal-body .status-list ul li label {
  font-size: 13px;
  padding-top: 2.5px;
}

.status_modal .modal-body .status-form label {
  font-size: 13px;
}

/* offer table */
.table.offer_table td:nth-child(7) {
  text-align: center;
}

.btn-blue {
  background-color: #064d9d;
  color: #fff;
}

.btn-blue:hover {
  color: #fff;
}

/* property status */
.property_tabs {
  border-top: 1px solid #dee2e6;
}

.property_tabs .nav-link {
  color: #000;
  font-size: 14px;
  font-weight: 500;
  border-bottom: 3px solid transparent;
  border-radius: 0px;
  padding: 0.6rem 1rem;
}

.property_tabs .nav-link.active {
  background-color: transparent;
  color: #000;
  border-bottom: 3px solid #b71c1c;
}

.header-admin {
  background-color: #37515e;
  padding: 10px 0;
}

.header-admin .Administrator-box {
  display: flex;
  align-items: center;
}

.header-admin .Administrator-box span {
  width: 35px;
  height: 35px;
  text-align: center;
  line-height: 30px;
  border-radius: 35px;
  border: 1px solid #fff;
  background-color: green;
  color: #fff;
  font-weight: 600;
  font-size: 20px;
}

.header-admin .Administrator-box p {
  font-weight: 600;
  font-size: 20px;
  color: #fff;
  margin-bottom: 0;
  margin-left: 10px;
}

.header-admin .notify-box {
  display: flex;
  align-items: center;
  padding-top: 6px;
}

.header-admin .notify-box i {
  color: #fff;
  font-size: 22px;
}

.header-admin .notify-box p {
  color: #b71c1c;
  font-weight: 600;
  margin-bottom: 0px;
  font-size: 18px;
  margin-left: 6px;
}

.dashboard-logo {
  background-color: #fff;
}

.dashboard-logo img {
  width: 400px;
}

/*hold table*/
.table.hold_table td:nth-child(8) {
  text-align: center;
}

.attachement-box {
  display: flex;
  align-items: center;
}

.attachement-box p {
  margin-bottom: 0;
  margin-right: 8px;
}

/* user list */
.user_name_box {
  display: flex;
  align-items: center;
}

.user_name_box span {
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 38px;
  border-radius: 35px;
  border: 1px solid #fff;
  background-color: #99268e;
  color: #fff;
  font-weight: 600;
  font-size: 20px;
  margin-right: 5px;
}

.table.alluser_table td:nth-child(1), .table.alluser_table th:nth-child(1) {
  width: 2%;
}

.table.alluser_table td:nth-child(2), .table.alluser_table th:nth-child(2) {
  width: 20%;
}

.table.alluser_table td:nth-child(3), .table.alluser_table th:nth-child(3) {
  width: 10%;
}

.table.alluser_table td:nth-child(4), .table.alluser_table th:nth-child(4) {
  width: 10%;
}

.table.alluser_table td:nth-child(5), .table.alluser_table th:nth-child(5) {
  width: 15%;
}

.table.alluser_table td:nth-child(6), .table.alluser_table th:nth-child(6) {
  width: 10%;
}

.table.alluser_table td:nth-child(7), .table.alluser_table th:nth-child(7) {
  width: 13%;
}

.table.alluser_table td:nth-child(8), .table.alluser_table th:nth-child(8) {
  width: 20%;
}

.table.alluser_table td:nth-child(4) {
  text-align: center;
}

.table.alluser_table td:nth-child(5) {
  text-align: center;
}

.table.alluser_table td:nth-child(5).timer-user {
  color: #9d9d9d;
  font-weight: 500;
}

.table.alluser_table td:nth-child(6) {
  text-align: center;
  font-weight: 500;
}

.admin-btns {
  padding: 0.375rem 1rem;
}

/*view modal*/
.view-list li a {
  color: #000;
}

.user_side_tab .account-head {
  position: relative;
  background: #fff;
}

.user_side_tab .account-head .account-image {
  position: absolute;
  top: -30px;
  left: 110px;
}

.user_side_tab .account-head .account-image img {
  width: 80px;
  height: 80px;
  border-radius: 100%;
  display: block;
  margin: 0 auto;
}

.user_side_tab .account-head .account-data {
  padding: 60px 0 20px 0;
  text-align: center;
}

.user_side_tab .account-head .account-data h5 {
  margin-bottom: 0;
  font-weight: 500;
  font-size: 1.40rem;
}

.user_side_tab .account-head .account-data p {
  margin-bottom: 0;
  font-weight: 600;
}

.user_side_tab .group-box-chat {
  background-color: #fff;
  color: #000;
}

.user_side_tab .group-box-chat a {
  color: #000;
}

.user_side_tab.side_tab {
  background-color: transparent !important;
}

.profile_row .user_side_tab .nav-pills .nav-link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 13px 20px;
  font-size: 13.5px;
  border-bottom: 1.5px solid #fff;
  border-left: 3px solid transparent;
  background-color: #000;
  color: #fff;
  border-radius: 0px;
}

.profile_row .user_side_tab .nav-pills .nav-link span svg {
  margin-right: 10px;
}

.profile_row .user_side_tab .nav-pills .nav-link.active, .user_side_tab .nav-pills .show>.nav-link {
  border-left: 3px solid #b71c1c;
  background-color: #000;
}

.pagination-btn {
  padding: 4px 10px;
  color: #000;
  border-radius: 0px;
  background-color: #dee2e6;
  border: 0px;
  font-weight: 500;
  font-size: 14px;
}

.pagination-btn.active {
  color: #fff;
  background-color: #064d9d;
}

.pagination-btn:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.pagination-btn:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.upload-profile-pic {
  position: relative;
}

.upload-profile-pic img {
  display: block;
  width: 200px;
  height: 200px;
}

.overlay-edit {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 12.8%;
  right: 0;
  height: 200px;
  width: 200px;
  opacity: 0;
  transition: .5s ease;
  border-radius: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.upload-profile-pic:hover .overlay-edit {
  opacity: 1;
}

.upload-edit-icon svg {
  cursor: pointer;
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

/*buy now modal*/
.buy_modal .modal-dialog {
  max-width: 740px;
}

.buy_modal .modal-body .buy-list {
  width: 100%;
  margin: 2px 0px;
  border-bottom: 2px solid #dee2e6;
}

.buy_modal .modal-body .buy-list p {
  font-size: 15px;
}

.buy_modal .modal-body .accept-terms {
  height: 250px;
  overflow-y: auto;
  border: 1px solid #dee2e6;
  padding: 10px;
  background-color: #dee2e6;
}

.accept-upload p {
  font-size: 13px;
  font-weight: 500;
}

.accept-upload {
  border-right: 2px solid #dee2e6;
}

.accept-file .custom-file-label {
  font-size: 13px;
  color: #000;
}

.accept-file .custom-file-label::after {
  background-color: #064d9d;
  color: #fff;
}

.buy_modal .modal-body .accept-terms ol li {
  font-size: 13px;
  font-weight: 500;
}

.buy_modal .modal-body .status-form label {
  font-size: 13px;
}

.buy_modal .modal-dialog .modal-header {
  background-color: #b71c1c;
  color: #fff;
}

.payment-head {
  border-bottom: 1px solid #000;
}

.payment-head h6 {
  font-weight: 500;
}

.payment-body form label {
  margin-bottom: 4px;
  font-size: 13px;
  font-weight: 500;
}

.payment-body form .form-group {
  margin-bottom: 10px;
}

.cardpay-image {
  display: flex;
  justify-content: flex-end;
  margin-top: 28px;
}

.cardpay-image img {
  width: 40px;
  height: 32px;
  margin-right: 5px;
}

.agree-terms label {
  color: #b71c1c;
}

.btn-blue {
  background-color: #064d9d;
  color: #fff;
}

.btn-blue:hover {
  color: #fff;
}

/*offer details*/
.offer-box {
  background-color: #fff;
  border-bottom: 3px solid #b71c1c;
}

.offer-box .offer-head img {
  width: 100%;
  height: 150px;
}

.offer-box .offer-head .like-icon {
  position: absolute;
  top: 4px;
  right: 12px;
}

.offer-box .offer-head .like-icon i {
  font-size: 24px;
  color: #fff;
}

.offer-box .offer-head .time-box {
  position: absolute;
  top: 0px;
  left: 8px;
  background: rgba(0, 0, 0, 0.6);
}

.offer-box .offer-head .time-box p {
  font-size: 16px;
  color: #fff;
  font-weight: 500;
  padding: 3px 10px;
  margin-bottom: 0;
}

.offer-box .offer-body {
  padding: 0px 8px;
}

.offer-box .offer-body .rate-row {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin: 4px 0px;
}

.offer-box .offer-body .rate-row p {
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 500;
  color: #ccc;
}

.offer-box .offer-body p {
  font-weight: 500;
  font-size: 14px;
}

.offer-box .offer-body .status-row {
  display: flex;
  align-items: center;
}

.offer-box .offer-body .status-row p {
  font-weight: 500;
  color: #000;
  font-size: 14px;
}

.offer-box .offer-body .status-row p.offer-dot {
  background: #F44336;
  width: 10px;
  height: 10px;
  border-radius: 100%;
}

.font-red {
  color: #b71c1c !important;
}

.links-login {
  color: #2c77cb;
  text-decoration: none;
}

.login-lock {
  width: 35px;
  height: 35px;
  color: #fff;
  background-color: #b71c1c;
  text-align: center;
  line-height: 40px;
  border-radius: 35px;
  position: absolute;
  top: 15px;
  right: 15px;
}

.login-lock i {
  font-size: 24px;
}

.lock-region {
  position: relative;
}

.login-locks {
  width: 35px;
  height: 35px;
  color: #fff;
  background-color: #b71c1c;
  text-align: center;
  line-height: 40px;
  border-radius: 35px;
}

.login-locks i {
  font-size: 24px;
}

.video-login {
  width: 92%;
  height: 356px;
  background: rgba(255, 255, 255, 0.8);
  position: absolute;
  top: 67.5px;
  text-align: center;
  cursor: not-allowed;
}

.video-login p {
  position: relative;
  top: 45%;
  font-size: 20px;
  font-weight: 600;
}

/*new profile page*/
.account-head {
  position: relative;
  background: #fff;
}

.account-head .account-image {
  position: absolute;
  top: -30px;
  left: 110px;
}

.account-head .account-image img {
  width: 80px;
  height: 80px;
  border-radius: 100%;
  display: block;
  margin: 0 auto;
}

.account-head .account-data {
  padding: 60px 0 20px 0;
  text-align: center;
}

.account-head .account-data h5 {
  margin-bottom: 0;
  font-weight: 500;
  font-size: 1.40rem;
}

.account-head .account-data p {
  margin-bottom: 0;
  font-weight: 600;
}

.group-box-chat {
  background-color: #fff;
  color: #000;
}

.group-box-chat a {
  color: #000;
}

/* available plan */
.free-row {
  border: 1px solid #d7d7d7;
  margin-bottom: 15px;
}

.free-user {
  height: 100%;
  background-color: #b71c1c;
  color: #fff;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 40px;
}

.free-user h5 {
  font-size: 28px;
}

.user-listing {
  padding: 8px 15px;
}

.user-listing h6 {
  font-size: 12px;
  margin-bottom: 0;
}

.user-listing ul {
  margin-bottom: 0;
}

.user-listing ul li {
  font-size: 12px;
}

.promo-req {
  display: flex;
  align-items: center;
  text-align: center;
  height: 100%;
  justify-content: center;
}

.promo-req .btn-selectbox {
  display: flex;
  flex-direction: column;
}

.promo-req a {
  font-size: 12px;
  color: #3989df;
}

.select-btn {
  background-color: #fff;
  color: #b71c1c;
  width: 175px;
  border: 2px solid #a5a5a5;
  border-radius: 20px;
  text-transform: uppercase;
  font-weight: 600;
}

.plans_body {
  border: 1px solid #d7d7d7;
}

.plans_body .plans_head {
  text-align: center;
  background-color: #b71c1c;
  color: #fff;
}

.plans_body .plans_head h4 {
  padding: 10px 0px;
  font-size: 20px
}

.plans_body .plans_data {
  text-align: center;
}

.plans_body .plans_data h4 {
  padding: 15px 0px;
  color: #b71c1c;
  font-weight: 500;
  font-size: 20px;
}

.free-para p {
  font-weight: 500;
}

.promo-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.promo-row .do-box h5 {
  margin-bottom: 0;
  font-size: 16px;
}

.promo-row .forms-box input {
  width: 320px;
}

.card-list {
  border: 1px solid #d7d7d7;
  padding: 15px;
}

.card-list .cards-details h5 {
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 0;
  font-size: 22px;
}

.card-list .cards-details p {
  margin-bottom: 0;
  font-weight: 500;
}

.card-list .cards-details h6 {
  font-size: 20px;
  margin-bottom: 0;
}

.card-list .cards-boxed {
  display: flex;
  align-items: center;
  height: 100%;
}

.card-list .cards-no {
  display: flex;
  align-items: center;
}

.card-list .cards-no .cards-data {
  margin-left: 8px;
}

.card-list .cards-no .cards-data h5 {
  margin-bottom: 0;
  font-size: 18px;
}

.card-list .cards-no .cards-data p {
  margin-bottom: 0;
  color: #a9a2a2;
  font-weight: 500;
  font-size: 14px;
}

.updates-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.updates-btn a {
  color: #0a8e0a;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
}

/* payment form */
.payments-form {
  border: 1px solid #d7d7d7;
  padding: 15px;
}

.payments-form .form-group label {
  font-size: 13px;
  font-weight: 500;
  margin-bottom: 10px;
}

.payments-form p {
  font-size: 12px;
  font-weight: 500;
}

.payments-form .red-btn {
  font-size: 14px;
}

.header-payment p {
  font-size: 14px;
}

.banks-image img {
  width: 30px;
  height: 22px;
  margin: 0px 2px;
}

/*profile page*/
.collapse_btn {
  display: none;
  text-align: center;
}

.mobile-pills {
  display: none;
}

.collapse_btn i {
  font-size: 24px;
}

/* image edit */
.upload-profile-pic {
  position: relative;
}

.upload-profile-pic img {
  display: block;
  width: 200px;
  height: 200px;
}

.overlay-edit {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 12.8%;
  right: 0;
  height: 200px;
  width: 200px;
  opacity: 0;
  transition: .5s ease;
  border-radius: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.upload-profile-pic:hover .overlay-edit {
  opacity: 1;
}

.upload-edit-icon i {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.offer_tables thead th {
  font-size: 14px;
  padding: 0.5rem 0.75rem;
  text-align: center;
}

.offer_tables tbody td {
  padding: 0.5rem 0.75rem;
  text-align: center;
}

.offer_tables tbody td p {
  font-size: 13px;
  margin-bottom: 0;
}

.offer_tables .user_name_box {
  display: flex;
  align-items: center;
}

.offer_tables .user_name_box span {
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 38px;
  border-radius: 35px;
  border: 1px solid #fff;
  background-color: #99268e;
  color: #fff;
  font-weight: 600;
  font-size: 20px;
  margin-right: 5px;
}

.offer_tables .user_name_box p {
  font-size: 13px;
  font-weight: 400;
  margin-bottom: 0
}

.table.offer_tables td, .table.offer_tables th {
  vertical-align: middle;
}

.table.offer_tables tbody tr {
  border-bottom: 1px solid rgba(193, 193, 193, 0.5);
}

.table.offer_tables td:nth-child(1), .table.offer_tables th:nth-child(1) {
  width: 20%;
  padding: 0.3rem 0.75rem;
  font-weight: 500;
}

.table.offer_tables td:nth-child(2), .table.offer_tables th:nth-child(2) {
  width: 20%;
  font-weight: 500;
}

.table.offer_tables td:nth-child(3), .table.offer_tables th:nth-child(3) {
  width: 15%;
  font-weight: 500;
}

.table.offer_tables td:nth-child(4), .table.offer_tables th:nth-child(4) {
  width: 20%;
}

.table.offer_tables td:nth-child(5), .table.offer_tables th:nth-child(5) {
  width: 25%;
}

.table.offer_tables td:nth-child(5) a {
  color: #000;
}

.table.offer_tables td:nth-child(5) a i {
  font-size: 18px;
  padding: 0px 6px;
}

.table.offer_tables td:nth-child(4) p {
  font-size: 13px;
}

.table.offer_tables td:nth-child(1) .user_name_box p {
  font-weight: 500;
}

.rehab_modal .modal-body h6 {
  font-size: 0.95rem;
}

.spinner-grow {
  position: absolute;
  top: 45%;
}

.spinner_main {
  position: absolute;
  width: 100%;
  text-align: center;
  z-index: 1;
  background-color: Rgba(0, 0, 0, 0.2);
  height: 100%;
}

.textarea-resize {
  resize: none;
}

.form-group .react-datepicker-wrapper {
  width: 100%;
}

.demo img {
  width: 126px;
  height: 126px;
}

.upload-img-row {
  display: flex;
  width: 860px;
  overflow-x: scroll;
}

.demo a {
  position: absolute;
  top: 6px;
  right: 17px;
  width: 20px;
  height: 20px;
  background: rgba(0,0,0,0.75);
  line-height: 18px;
  text-align: center;
  border-radius: 100%;
  color: #fff;
  text-decoration: none;
}


/*buy now modal*/
.buy_modal .modal-dialog {
  max-width: 740px;
}

.buy_modal .modal-body .buy-list {
  width: 100%;
  margin: 2px 0px;
  border-bottom: 2px solid #dee2e6;
}

.buy_modal .modal-body .buy-list p {
  font-size: 15px;
}

.buy_modal .modal-body .accept-terms {
  height: 250px;
  overflow-y: auto;
  border: 1px solid #dee2e6;
  padding: 10px;
  background-color: #dee2e6;
}

.accept-upload p {
  font-size: 13px;
  font-weight: 500;
}

.accord_post {
  width: 100%;
}
.properties-btn a{
  display: block;
}
.table.offer_tables td:nth-child(5) a svg {
  font-size: 30px;
  padding: 0px 6px;
}
.est_box{
  padding-left: 15px;
}
.est_box .est_list{
  display: flex;
}
.est_box .est_list label{
  width: 48%;
  margin-top: 8px;
}
.est_box .est_list input{
  width: 48%;
}
.step_heads{
  border-bottom: 3px solid #e9e9e9;
  margin-bottom: 0px;
  padding-bottom: 4px;
  font-size: 1.15rem;
  font-weight: 600;
}
.step_fonts{
  padding-left: 10px;
}
.bottom_box{
  background-color: #bcf9bd;
}

.video-box iframe{
  width: 100%;
}

.time_status ul li:last-child{
    font-size: 12px;
    font-weight: 500;
}
.blue-btn{
    background: #064d9d;
    color:#fff !important;
    border:none;
    border-radius:3px;
    font-weight: 600;
}

.group-box {
    background-color: #3989df;
    color: #fff;
}
.group-box a{
    color: #fff;
}

.pdf-box{
    display: flex;
    align-items: center;
}
